# Project
instance/
!instance/config.cfg.sample
*.db
*.sqlite3
*.log
dump.rdb
drafts/
celerybeat-schedule

# Python
virtualenv/
venv/
__pycache__
*.pyc

# Tests
.pytest_cache/
.coverage
htmlcov/
junit/

# IDE
\.idea/
\.vs/