## MANDATORY
# Required by flask.session, run `$ python -c 'import os; print(os.urandom(16))'` to get one
SECRET_KEY= b'...'

# TWITTER API
APP_CONSUMER_KEY='aConsumerKey'
APP_CONSUMER_SECRET='aConsumerSecret'

# DB
SQLALCHEMY_DATABASE_URI='sqlite:////absolute/path/to/Twitter-Supervisor/db.sqlite3'

## OPTIONAL
# TWITTER CREDENTIALS (Needed if you want to run tests)
DEFAULT_ACCESS_TOKEN='aUserAccessToken'
DEFAULT_ACCESS_TOKEN_SECRET='aUserAccessTokenSecret'
DEFAULT_USER='aUser'

# LOGGING
LOG_LEVEL='WARNING'
LOG_FILE='twitter_supervisor.log'

# DB
SQLALCHEMY_TRACK_MODIFICATIONS='False'

# SCHEDULER: See https://github.com/viniciuschiele/flask-apscheduler#api for more info
SCHEDULER_API_ENABLED='False'