{% extends "navbar.html" %}
{% block under_navbar %}
<fieldset>
    <legend>Account Settings</legend>
    <form action="" method="post">
        <p>
            <label for="select-dm-option">
                Send a Direct Message to my Twitter account everytime someone
            </label>
            <select class="custom select" id="select-dm-option" name="dm-option">
                {% for key, value in dm_options.items() %}
                <option value="{{key.value}}" {%if key==settings.dm_option %} selected {% endif %}>{{value}}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
    <hr>
    <legend>Stop using Twitter Supervisor</legend>
    <!--TODO add a dialog to confirm the revoke access operation-->
    <p>
        Click on that button if you want to leave Twitter Supervisor definitively. Attention, all the data collected about you
        and your followers will be deleted, and this operation cannot be undone, even if you reuse the app in the future !
    </p>
    <button type="submit" class="btn btn-danger">Revoke Access</button>
</fieldset>
{% endblock %}