{% extends "navbar.html" %}
{% block under_navbar %}
<div class="accordion" id="followers-accordion">
    {% for follower in followers %}
    <div class="accordion-item">

        <h2 class="accordion-header" id="heading-{{follower.id_str}}">
            <button class="accordion-button collapsed"  type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapse-{{follower.id_str}}"
                  aria-expanded="false" aria-controls="collapse-{{follower.id_str}}">
                {{ follower.name }}
            </button>
        </h2>

        <div id="collapse-{{follower.id_str}}" class="accordion-collapse collapse"
             aria-labelledby="heading-{{follower.id_str}}" data-bs-parent="#followers-accordion">
            <div class="accordion-body">
                <p>ID: {{ follower.id_str }}</p>
                <p>Screen name: @{{ follower.screen_name }}</p>
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Event</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-{{follower.id_str}}">
                    </tbody>
                </table>
          </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}
