<!doctype html>

<head>
  <title>Twitter Supervisor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <div class="container" id="twitter-supervisor">
    <h1 class="display-2" style="position: relative">Twitter Supervisor<a href="/" class="stretched-link"></a></h1>
    {% block app_container %}{% endblock %}
    <hr>
    <div class="footer">
      <p class="text-muted"><small>
        Twitter Supervisor is an application created by <a href="https://github.com/QuentinJoder">Quentin Joder</a>.
        You can report issues and contribute to the project on <a href="https://github.com/QuentinJoder/Twitter-Supervisor">GitHub</a>.
      </small></p>
    </div>
  </div>
  {% block scripts %}{% endblock %}
</body>